.infocard {
    background-color: #d1cccc; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    max-width: 500px; 
    
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  }
  
  .infocard:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  }
  
  .infocard-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #333333; 
  }
  
  .infocard-content {
    font-size: 1rem;
    font-weight: 400;
    color: #555555; 
    white-space: pre-line;
  }
  .infocard-image {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 16px; 
  }

 